/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

// 文字の大きさ
.font-sm {
    font-size: 16px;
}
.font-md {
    font-size: 19px;
}
.font-lr {
    font-size: 23px;
}
.font-lg {
    font-size: 36px;
}
// margin
.mb-lg {
    margin-bottom: 150px !important;
}
// padding;
.pd-lg {
    padding-bottom: 150px !important;
}