@import "mixin";

.try {
  /** ここに記述しよう */
  .spinner {
    width: 40px;
    height: 40px;
    background-color: black;
    margin: 120px auto;
    animation: sk-rotate 1.2s infinite;
  }
  @keyframes sk-rotate {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotateX(90deg);
    }
    50% {
      transform: rotate(0);
    }
    75% {
      transform: rotateY(90deg);
    }
    100% {
      transform: rotate(0);
    }
  }

  .double-spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: auto;
  & div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    @include animation (
      $name: sk-scale,
      $duration: 2s,
      $iteration-count: infinite,
      $timing-function: ease-in-out
    );
    &:nth-child(2) {
      animation-delay: -1s;
    }
  }  
  @keyframes sk-scale {
    0%, 100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
  }

  .rect-spinner {
    width: 50px;
    height: 40px;
    letter-spacing: -1px;
    margin: 100px auto;
    & div {
      width: 6px;
      height: 100%;
      background-color: black;
      display: inline-block;
      @include animation (
        $name: sk-bar,
        $duration: 1.2s,
        $iteration-count: infinite,
        $timing-function: ease-in-out
      );
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: -1.3s + 0.1s * $i ;
      }
    }  
    } 
  }
  @keyframes sk-bar {
    0%, 40%, 100% {
      transform: scaleY(0.5);
    }
    20% {
      transform: scaleY(1);
    }
  }

}